# Local development (pgAdmin4)
NODE_ENV=development
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=123
DB_DATABASE=kpi_system

# Production (Render) - uncomment to use instead of DB_* vars
# DATABASE_URL=postgres://user:pass@host:5432/kpi_db

# Common
JWT_SECRET=change_me_to_a_long_random_string
JWT_EXPIRES_IN=8h
ADMIN_SEED_ID=admin
ADMIN_SEED_PASSWORD=changeme

# Server port
PORT=3000
